@font-face {
    font-family: "Grotesk";
    src: url(./fonts/SpaceGrotesk-VariableFont_wght.ttf);
}
:root {
    --purple: hsl(257, 100%, 64%);
    --dark-purple: hsl(257, 67%, 51%);
    --red: hsl(347, 98%, 70%);
    --yellow: hsl(41, 100%, 70%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --h-xs-size: 1rem;
    --h-s-size: 1.25rem;
    --h-m-size: 1.5rem;
    --h-l-size: 3.5rem;
    --eye-size: 3px 5px;
    --grad: linear-gradient(black, black);
    --player1-smilley: var(--grad) 70% 35% / var(--eye-size) no-repeat,
        var(--grad) 50% 35% / var(--eye-size) no-repeat,
        radial-gradient(
            35% 50% at 55% 0%, transparent 60%, black 60% calc(60% + 3px),
            transparent 0
        ) 70% 120% / 80% 60% no-repeat;
    --player2-smilley: var(--grad) 30% 35% / var(--eye-size) no-repeat,
        var(--grad) 54% 35% / var(--eye-size) no-repeat,
        radial-gradient(
            35% 50% at 55% 0%, transparent 60%, black 60% calc(60% + 3px),
            transparent 0
        ) 0% 120% / 80% 60% no-repeat;
    --cpu-smilley: var(--grad) 35% 35% / 8px 3px no-repeat,
        var(--grad) 68% 35% / 8px 3px no-repeat,
        var(--grad) 50% 53% / 24px 3px no-repeat;
    --four-dots: radial-gradient(
        25% 25% at 25% calc(12.5% + 4px),
        var(--red) 60%, var(--black) 60% calc(60% + 3px), transparent 0
    ),
    radial-gradient(
        25% 25% at 75% calc(12.5% + 4px),
        var(--yellow) 60%, var(--black) 60% calc(60% + 3px), transparent 0
    ),
    radial-gradient(
        25% 25% at 75% calc(87.5% - 4px),
        var(--red) 60%, var(--black) 60% calc(60% + 3px), transparent 0
    ),
    radial-gradient(
        25% 25% at 25% calc(87.5% - 4px),
        var(--yellow) 60%, var(--black) 60% calc(60% + 3px), transparent 0
    );
    --game-grid: "options options" 2.5rem
                 "player1 player2" 5rem
                 "game-board game-board" 3fr
                 "game-board game-board" 10rem / 1fr 1fr;
    --elastic-timing: cubic-bezier(.25, .1, .3, 1.5);
}

body {
    --background: var(--light-bg);
    --light-bg: var(--background,);
    --dark-bg: var(--background,);
    --f-size: var(--h-xs-size);
    --body-bg: var(--light-bg, var(--purple))
               var(--dark-bg, var(--dark-purple));
    font-family: Grotesk;
    font-weight: 500;
    line-height: 1.5;
    color: var(--black);
    background-color: var(--body-bg, var(--purple));
}

.uppercase {
    text-transform: uppercase;
}

.pawn-home,
.r-bg,
dark-purple-bg {
    color: var(--color, var(--white));
}
.r-bg,
.pawn-home {
    --bg: var(--red);
}
.y-bg,
.pawn-away {
    --bg: var(--yellow);
    color: var(--color, var(--black));
}
.dark-purple-bg {
    --bg: var(--dark-purple);
    color: var(--color, var(--white));
}
.responsive-grid {
    --max-col-width: var(--m-col-w, 12rem);
    --min-row-height: var(--m-row-h, 15rem);
    --max-cols: var(--m-col-s, 3);
    --gap: var(--c-gap, 1rem);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(
        min(100%, max(
            var(--max-col-width),
            100% / var(--max-cols) - var(--gap)
        )),
        1fr
    ));
    grid-auto-rows: minmax(var(--min-row-height), auto);
    gap: var(--gap);
}

.h-l {
    --f-size-diff: .5;
    --f-size: var(--h-l-size);
    font-size: var(--h-l-size);
    font-weight: 700;
    text-align: var(--align, center);
}

.h-s {
    --f-size: var(--h-s-size);
    font-size: var(--h-s-size);
    font-weight: 700;
    color: var(--s-color, currentColor);
}

.menu-container {
    min-block-size: 90svb;
}

.elevated,
.h-shadow {
    background-color: var(--bg, var(--white));
    border: .25rem solid var(--bdr-clr, var(--black));
    box-shadow: 0px 8px var(--shadow-clr, var(--black));
}

.elevated:hover,
.elevated:focus {
    --shadow-clr: var(--dark-purple);
    --bdr-clr: var(--dark-purple);
}

.menu {
    --btn-align: start;
    min-block-size: var(--min-b-size, max(40svb, 305px));
    min-inline-size: var(--min-i-size, min(100vi - 40px, 335px));
}

.menu > .four-dots {
    margin-block-end: 1.5rem;
}
.column-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--gap, 1.5rem);
}

.four-dots {
    inline-size: 2.5rem;
    aspect-ratio: 1;
    background: var(--four-dots);
    align-self: center;
}

.menu-option {
    --clip-ratio: 1.78;
    --clip-size: 5rem;
	font-weight: 700;
	border-radius: 1.25rem;
}

.rules-read {
    --size: min(40cqi, 4rem);
    --clip-ratio: 1;
    border-radius: 50%;
    aspect-ratio: var(--clip-ratio);
    align-self: center;
    inline-size: var(--size);
    position: absolute;
    inset-block-end: calc(-1 * var(--size) / 2);
    inset-inline: 1px;
    margin-inline: auto;
}

.step-out {
    --position: fixed;
    --margin: auto;
    visibility: hidden;
    z-index: -1;
    inset: 0;
}

.step {
    --max: max(var(--i), var(--current));
    --min: min(var(--i), var(--current));
    --opacity: clamp(0, 1 + var(--min) - var(--max), 1);
    position: var(--position, relative);
    margin: var(--margin, 0);
    opacity: var(--opacity);
}

.rule-section > .h-s,
.rules > .h-l {
    text-transform: uppercase;
}

.rule-section > .h-s {
    color: var(--purple);

}

.rule-section > * + *{
    margin-block-start: 1rem;
}

.flow > * + * {
    margin-block-start: var(--gap, 1.25rem);
}

.rules {
    --gap: 1.25rem;
    position: var(--position, relative);
    inline-size: min(100vi - 40px, 480px);
    padding-block: min(5%, 1.875rem) 3.375rem;
    padding-inline: 1.25rem;
    border-radius: 2.5rem;
    container: rules / inline-size;
}

.counter-list > li::marker {
    content: counter(list-item) "  ";
    text-align: start;
    font-weight: 700;
    font-size: var(--h-xs-size);
}

.counter-list {
    --gap: .625rem;
    padding-inline-start: 1rem;
}

.game {
    --indicator-ratio: 1.23;
    --i-size: 54px;
    --v-gap: var(--game-v-gap, min(6svb, 3.125rem));
    --m-col-s: 7;
    display: grid;
    grid-template: var(--game-grid);
    min-block-size: 70svb;
    gap: var(--v-gap) var(--game-h-gap, .75rem);
    padding-block: 1rem;
    text-align: center;
    font-weight: bold;
}

.options {
    --deco-inset: 0;
    grid-area: options;
    position: relative;
}


.score {
	border-radius: 1.25rem;
    place-self: center var(--h-align, end);
    inline-size: min(38vi, 272px);
    position: relative;
    padding-block: .5em;
}

.score::before {
    --bg: var(--i-clr, var(--red));
    content: "";
    position: absolute;
    inline-size: var(--i-size);
    aspect-ratio: 1;
    border-radius: 50%;
    border: .25rem solid var(--bdr-clr, var(--black));
    box-shadow: 0px 4px var(--shadow-clr, var(--black));
    inset-block: 0;
    inset: var(--i-inset);
    background: var(--i-bg, var(--player1-smilley));
    background-color: var(--bg);
    margin-block: var(--scr-b-margin, auto);
    margin-inline: var(--scr-i-margin, none);
}

.score .fluid-type {
    --f-size: 2em;
    --f-size-fluid: 10cqi;
    line-height: 1.6;
}

.home-score {
    --h-align: var(--player1-align);
    --i-inset: var(--player1-inset, 0 auto 0 calc(-1 * var(--i-size) / 2));
    grid-area: player1;
}

.away-score {
    --i-clr: var(--yellow);
    --i-inset: var(--player2-inset, 0 calc(-1 * var(--i-size) / 2) 0 auto);
    --h-align: var(--player2-align, start);
    grid-area: player2;
}
.score[data-player="player 2"] {
    --i-bg: var(--player2-smilley);
}
.score[data-player="cpu"] {
    --i-bg: var(--cpu-smilley);
}

.game-board {
    --c-gap: 0px;
    --m-col-w: calc(100% / var(--m-col-s));
    --m-row-h: calc(100% / 6);
    border-radius: 1.25rem;
    aspect-ratio: 1.16;
    inline-size: var(--game-width, calc(100vi - clamp(1rem, 5vi, 2.5rem)));
    background-color: transparent;
    isolation: isolate;
    position: relative;
    padding-block-end: 2.5em;
}

.game-board::after {
    content: "";
    position: absolute;
    inset-inline: 0;
    inset-block-end: 0;
    block-size: 2.5em;
    background-color: var(--white);
    border-radius: 0 0 1rem 1rem;
}

.indicator {
    --pointer-x: calc(1px * var(--indicator-x, 0));
    --clip-size: var(--indicator-size, 44px);
    --clip-ratio: var(--indicator-ratio);
    position: absolute;
    inset-block-start: calc((-.5 * var(--clip-size)) - 5px);
    inset-inline-start: calc(var(--pointer-x) - var(--clip-size) / 2);
}

.indicator::before {
    content: "";
    position: relative;
    display: inline-block;
    inline-size: calc(0.863 * var(--clip-size));
    aspect-ratio: var(--indicator-ratio);
    inset-block: 2px;
    margin: auto;
    background-color: var(--red);
    clip-path: var(--path);
}

.pawn {
    --color: var(--black);
    --p-size: 50%;
    background-color: transparent;
    padding: 0;
    border-radius: 50%;
    box-shadow: inset 0px 2px 0 10px;
    display: grid;
    grid-template-areas: "pawn";
}

.pawn::before,
.pawn::after {
    content: "";
    grid-area: pawn;
    position: relative;
}
.pawn::before {
    background-color: var(--white);
    -webkit-mask-image: radial-gradient(circle, transparent var(--p-size), black 0);
    mask-image: radial-gradient(circle, transparent var(--p-size), black 0);
    place-self: stretch;
    z-index: 2;
}

.pawn::after {
    inline-size: 70%;
    aspect-ratio: 1;
    border-radius: 50%;
    place-self: center;
    background-color: var(--p-bg, transparent);
    box-shadow: var(--p-shadow, none);
    transform: var(--p-transform, translateY(var(--p-offset, -20px)));
    background-image: var(--p-image, none);
    visibility: hidden;
}

.pawn-away::after,
.pawn-home::after {
    visibility: visible;
    --p-transform: none;
}
.pawn-home {
    --p-bg: var(--red);
    --p-shadow: inset 0 2px 0px 2px hsl(347, 43%, 45%);
}

.pawn-away {
    --p-bg: var(--yellow);
    --p-shadow: inset 0 2px 0px 2px hsl(41, 43%, 45%);
}

.game-wrapper {
    grid-area: game-board;
    place-items: center;
    position:relative;
}

.game-wrapper::before {
    content: "";
    position: fixed;
    background-color: var(--winner-clr, var(--dark-purple));
    inset-block-end: 0;
    z-index: -2;
    inset-inline: 0;
    min-block-size: var(--min-decoration-size, clamp(200px, 35svb, 400px));
    border-radius:  1.25rem  1.25rem 0 0;
}

.pawn-won {
    --p-image: radial-gradient(
        transparent 30%,
        var(--rt-color, var(--white)) 30% 45%,
        transparent 0
    );
}

.pawn:focus-visible::before {
    box-shadow: inset 0 0 0 4px var(--dark-purple);
}
.pawn:first-of-type::before {
    border-top-left-radius: 1rem;
}
.pawn:nth-of-type(7)::before {
    border-top-right-radius: 1rem;
}
.pawn:focus-visible,
.pawn:hover {
    outline: none;
    cursor: pointer;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    font-family: inherit;
    text-align: var(--btn-align, center);
    text-transform: inherit;
    min-inline-size: 4rem;
    padding: var(--btn-pad, 1.25rem);
}

[data-winner="player 1" i] {
    --winner-clr: var(--red);
}
[data-winner="player 2" i],
[data-winner="cpu" i] {
    --winner-clr: var(--yellow);
}
[data-clip="result"] {
    --path: url(#result-path);
}
[data-clip="indicator"] {
    --path: url(#indicator);
}
[data-clip="check"] {
    --path: url(#check);
}
[data-clip="player"] {
    --path: url(#player-vs-player);
}
[data-clip="cpu"] {
    --path: url(#player-vs-cpu);
}

.clip {
    display: inline-block;
    inline-size: var(--clip-size, 100%);
    aspect-ratio: var(--clip-ratio);
    background-color: var(--clip-bg, currentColor);
    clip-path: var(--path);
}

.content-centered {
    display: grid;
    place-content: center;
}

.game-result {
    --option-display: var(--button-display, none);
    --clip-size: var(--r-i-size, 191px);
    margin-block-start: -2em;
    position: relative;
    isolation: isolate;
    inline-size: min(var(--clip-size), 90vi);
    aspect-ratio: var(--r-ratio, 1.28);
    padding-block-start: 1rem;
}
.game-result::before,
.game-result::after {
    content: "";
    position: absolute;
    clip-path: var(--path);
    z-index: -1;
}
.game-result::before {
    inset: -.25rem -.25rem -.5rem;
    background-color: var(--shadow-clr, var(--black));
}

.game-result::after {
    --bg-color: var(--r-color, var(--p-bg));
    inset: 0;
    background-color: var(--bg-color, var(--red));
}

.game-result__end {
    --button-display: static;
    --path: inset(0% round 1.25rem);
    --r-color: var(--white);
    --r-i-size: min(285px, 76vi);
    --r-ratio: 1.78;
    color: var(--black);
    border-radius: 1.25rem;
    padding-block: 1rem;
}
.timeout {
    --f-size: 2.5em;
    --f-size-diff: 0.2;
}

.game-option {
    --bg-color: var(--opt-bg, var(--bg));
    --btn-pad: .75rem 1.25rem;
    font-weight: bold;
    background-color: var(--bg-color);
    border-radius: 1.25rem;
    display: var(--option-display, initial);
}

.game-option:focus,
.game-option:hover {
    --opt-bg: var(--red);
}

.pause-menu {
    --position: fixed;
    --b-pad: 1.875rem;
    --option-text-align: center;
    background-color: var(--purple);
    color: var(--white);
    padding-inline: clamp(20px, 6%, 40px);
    border-radius: 1.25em;
    transform: scale(0);
    min-inline-size: min(90vi, 480px);
    padding-block: 2.5em;
}
.pause-menu[open] {
    transform: scale(1);
}

.pause-menu::backdrop {
    background-color: hsla(0, 0%, 0%, 0.7);
    backdrop-filter: blur(4px);
}

@media screen and (min-width: 480px) {

    body.switch-clr {
        --background: var(--dark-bg);
    }
    .menu {
        --b-start: 2.5rem;
        background-color: var(--purple);
        aspect-ratio: 0.9;
        inline-size: 480px;
        border-radius: 2.5rem;
        padding-block: 4.375rem 3.75rem;
        padding-inline: 2.5rem;
        border: solid 3px var(--black);
        box-shadow: 0px 8px var(--shadow-clr, var(--black));
    }
    .game {
        --game-width: calc(100vi - clamp(2.5rem, 18vi, 136px));
    }

}

@media screen and (min-width: 768px) {
    :root {
        --game-grid: ". . options . ." 2.5rem
        ". player1  game-board player2 ." 1fr
        ".  .   game-board  .   . " 10rem / 1fr 141px 2fr 141px 1fr;

    }
    .game {
        --game-width: min(43vi, 480px);
        --game-h-gap: min(60px, 3vi);
    }
    .game-board {
        align-self: center;
        position: relative;
    }

    .score {
        --i-inset: calc(-1 * var(--i-size) / 2) 0 0 0;
        --scr-i-margin: auto;
        --scr-b-margin: none;
        --f-size-fluid: 2cqi;
        inline-size: min(15vi, 141px);
        aspect-ratio: 0.75;
    }
    @media (orientation: portrait) {
        .game-result {
            --min-decoration-size: 40vb;
        }
    }
}

@supports(font-size: 1cqi) {
    :is(h1, h2, h3, h4, p, .menu-option, .fluid-type) {
        font-size: clamp(
            var(--f-size) - var(--f-size) * var(--f-size-diff, 0.3),
            var(--f-size-fluid, 5cqi),
            var(--f-size)
        );
    }
}

@media(prefers-reduced-motion: no-preference) {
    .game-board__indicator,
    .elevated {
        transition: all .35s ease-out;
    }

    .pause-menu {
        transition: transform .35s var(--elastic-timing);
    }
    .game-result::before,
    .game-result::after {
        transition: all .35s ease-out;
    }
    .pawn::after {
       transition: background-color 0.1s ease-out,
                   box-shadow 0.1s ease-out,
                   transform .5s ease-out 0.3s;
    }
    .pawn::before {
        transition: box-shadow .35s ease-out;
    }
}
